*{
    box-sizing: border-box;
    margin: 0 auto;
}
main{
    background-color:rgba(211, 211, 211,0.1);
}
.head{
    width: 1100px;
    height: 50px;
    font-size: 1.2rem;
    text-align: left;
    background-color: white;
}
h1{
    display:inline-block;
    line-height: 20px;
    vertical-align: 15px;

}
.button{
    width: 750px;
    background-color: white;
    border: 1px solid rgba(211, 211, 211,0.1);
    padding: 15px;
    border-radius: 3px;
    
}
.top1{
    background-color: rgb(0, 166, 255);
    border-radius: 5px;
    color: white;
}
.top2{
    border-radius: 5px;
    
}
.body{
    width: 750px;
    background-color: white;
    border: 1px solid rgba(211, 211, 211,0.1);
    padding: 15px;
    border-radius: 3px;
}
.check{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid green;
    color: green;
}
.new-task{
    display: inline-block;
    margin-bottom: 15px;
}
.mark{
    background-color: rgb(0, 145, 255);
    border-radius: 6px;
    color: white;
    font-size: 0.6rem;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 5px;
}
.task{
    margin-bottom: 20px;
}
.mark-goal{
    background-color: blueviolet;
    border-radius: 6px;
    color: white;
    font-size: 0.6rem;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 5px;

}
.space{
    display: inline-block;
    
}
.cross{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid red;
    color: red;
}
.recruit{
    background-color: rgb(43, 226, 52);
    border-radius: 6px;
    color: white;
    font-size: 0.6rem;
    width: 30px;
    height: 30px;
    padding: 5px; 
    margin: 5px;
}
.margin{
    margin-bottom: 20px;
}
.mobile{
    background-color: rgb(226, 147, 43);
    border-radius: 6px;
    color: white;
    font-size: 0.6rem;
    width: 30px;
    height: 30px;
    padding: 5px; 
    margin: 5px; 
}
.web{
    background-color: rgb(226, 43, 168);
    border-radius: 6px;
    color: white;
    font-size: 0.6rem;
    width: 30px;
    height: 30px;
    padding: 5px; 
    margin: 5px;
}
.sale{
    background-color: rgb(165, 226, 43);
    border-radius: 6px;
    color: white;
    font-size: 0.6rem;
    width: 30px;
    height: 30px;
    padding: 5px; 
    margin: 5px;  
}