* {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
}
body {
	font-family: Arial, sans-serif;
	background-color: rgba(211, 211, 211, 0.1);
	color: 333;
}
header {
	height: 80px;
	line-height: 80px;
	background-color: white;
	padding: 0 10px;
}
.logo-text {
	display: inline-block;
}
.logo-img,
.logo-text {
	vertical-align: middle;
}
.button {
	width: 50%;
	background-color: white;
	border: 1px solid rgba(211, 211, 211, 0.1);
	padding: 5px;
	border-radius: 3px;
	border: 1px solid transparent;
}
.button-top1 {
	background-color: rgb(0, 166, 255);
	border-radius: 5px;
	color: white;
	border: currentColor;
	padding: 5px 10px;
	display: inline-block;
}
.button-top2 {
	border-radius: 5px;
	border: currentColor;
	padding: 5px 10px;
	color: lightslategrey;
	display: inline-block;
}
.page {
	width: 50%;
	margin: 50px auto;
	background-color: white;
	padding: 20px;
}
h2 {
	margin: 20px 0 15px;
}
ul {
	list-style-type: none;
}
li > * {
	vertical-align: middle;
	margin-bottom: 5px;
	line-height: 10px;
}
.page-center {
	width: 70%;
	background-color: white;
	border: 1px solid rgba(211, 211, 211, 0.1);
	padding: 5px;
	border-radius: 3px;
	margin: 20px 20px;
}
.item.check {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid green;
	color: green;
}

.item.cross {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid rgb(218, 43, 8);
	color: rgb(218, 43, 8);
}
.mark {
	display: inline-block;
	padding: 5px 10px;
	border-radius: 6px;
	color: white;
	font-size: 0.6rem;
	background-color: rgb(10, 124, 232);
}

.mark.goals {
	background-color: blueviolet;
}

.recruiting {
	background-color: rgb(43, 226, 52);
}

.mobile {
	background-color: rgb(226, 147, 43);
}
.web {
	background-color: rgb(226, 43, 168);
}
.mark.sale {
	background-color: rgb(165, 226, 43);
}
